*{
  font-family: 'Montserrat', sans-serif;
}
nav{
  display:flex;
  justify-content: center;
  background-color: #002145;
}
.link{
  padding: 20px;
  text-decoration: none;
  color:white;
  font-size: 24px;
  text-transform: uppercase;
}
.header{
  display: flex;
  justify-content: center;
  margin:15px;
}
h1{
  font-size: 40px;
}
.slides{
  display:flex;
  justify-content: center;
}
.arrow{
  border:none;
}
.buttons{
  display: flex;
  justify-content: center;
  margin:20px;
  padding:20px;
}
.change{
  padding:18px;
  margin:20px;
  background-color: #efefef;
  border:none;
  text-transform: uppercase;
}
.change:hover{
  cursor: pointer;
  color:#002145;
  font-weight: 800;
}
.pics{
  display: flex;
  flex-wrap: wrap;
}
.pictures{
  padding: 2%;
  flex-grow: 1;
}
.trail{
  text-align: left;
}
.cont{
  display: flex;
  margin-left: 160px;
}
.container{
  display: flex;
  margin:35px;
}
.heading{
  margin-left: 30px;
  width:50%;
}
.showMore{
  border:none;
  background-color: transparent;
  color:blue;
  text-decoration: underline;
  font-size: 20px;
}
p{
  font-size: 20px;
}
.showMore:hover{
  cursor: pointer;
}